# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

# ignore editor config
.vscode

# ignore pages except index.html
pages/*
!pages/index.html