/* Globals */

html,
body,
#explorer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

body,
button,
input,
label {
  font-family: "Menomonia", sans-serif;
  color: #223144;
}

.background {
  background-color: #000;
  background-image: url(static/Background2_3840_2026.jpg);
  background-attachment: fixed;
  background-size: cover;
}

/* links */
a:link,
a:visited,
a:active {
  color: #406681;
}

a:hover {
  color: #5d92ba;
}

::selection {
  color: white;
  background: #406681;
}

/* Intro & mapload */

#intro {
  overflow: auto;
  margin: auto auto;
  max-width: min(70vw, 700px);
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.95) 0%, rgba(230, 230, 230, 0.5) 100%);
  box-shadow: 0px 0px 31px 2px rgba(255, 255, 255, 0.55);
  border-radius: 10px;
}

#intro h1 {
  text-align: center;
}

#intro h3 {
  margin: 10px 0 0 0;
}

#intro p {
  line-height: 1.2;
  margin: 5px 0;
}

#intro footer {
  margin-top: auto;
  border-collapse: collapse;
  margin-bottom: 21px;
}

.filePicker {
  margin: 0 auto 30px;
  width: max-content;
}

#filePickerButton {
  background: linear-gradient(to bottom, #5d92ba 5%, #223144 100%);
  background-color: #5d92ba;
  border-radius: 5px;
  border: 1px solid #223144;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 23px;
  padding: 14px 18px;
  text-decoration: none;
}
#filePickerButton:hover {
  background: linear-gradient(to bottom, #4d7a9a 5%, #1a2635 100%);
}
#filePickerButton:active {
  position: relative;
  top: 1px;
}

/* Controls */
